{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "rules": {
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "operator-linebreak": "off",
    "no-plusplus": "off",
    "no-console": "off",
    "semi": [
      "error",
      "never"
    ]
  },
  "globals": {
    "BigInt": true
  }
}
